.video{
    height: 200px;
    width:22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    margin-left:10px;
    float:left;
    position:relative;
    margin-bottom:10px;
}
.top img{
    display: block;
    width:100%;
    height: 120px;
}
.bottom{
    display: grid;
    grid-template-areas: 'l r';
    grid-template-columns: 2fr 5fr;
    align-items: center;
     margin-top:10px;
}
.left {
    grid-area: l;
    position: relative;
    text-align: center;
    display: block;
}
.left img{
    width:40px;
    height: 40px;
    border-radius: 100%;
}
.right{
    grid-area: r;
    margin-left: 15px;
}

