.videos{
    position: relative;
    min-height:100vh;
    width:100%;
    position: relative;
    margin: 0 -2%;
}
@media screen and (min-width:300px) and (max-width:400px){
    .videos{
        margin: 0 0 100px;
    }
}

