.video{
    width: 20%;
    height: 200px;
    float: left;
    padding:0 5px;
    box-sizing: border-box;
    .inner{
        text-decoration: none;
        color:black;
    }
    img{
        height: 60%;
        width: 100%;
    }
    .text{
        width: 100%;
        height: 40%;
    }
}



@media screen and (min-width:300px) and (max-width:400px){
    .video{
        width: 100%;
        margin-bottom: 10px;
    }
    .text h2{
        font-size: 14px;
    }
    .text p{
        font-size: 10px;
    }
  
}
@media screen and (min-width:400px) and (max-width:600px){
    .video{
        width: 45%;
        margin: 5px;
    }
    .text h2{
        font-size: 18px;
    }
    .text p{
        font-size: 12px;
    }
}
    
@media screen and (min-width:600px) and (max-width:900px){
    .video{
        width: 30%;
        margin: 5px;
    }
    .text h2{
        font-size: 18px;
    }
    .text p{
        font-size: 12px;
    }
  
}