.video{
    background-color: rgba(6,6,6,.1);
    height: 200px;
    width:21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 2%;
    float: left;
    position:relative;
    box-sizing: border-box;
    .top{
        img{
            width:100%;
            height: 120px;
        }
    }
    .bottom{
        display: grid;
        grid-template-areas: 'l r';
        grid-template-columns: 2fr 5fr;
         .left {
            grid-area: l;
            padding:15px;
            position: relative;
            text-align: center;
            display: block;
            img{
                width:40px;
                height: 40px;
                border-radius: 100%;
            }
        }
        .right{
            grid-area: r;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                margin:2px;
            }
        }
    }
}



@media screen and (min-width:300px) and (max-width:400px){
    .video{
        height: 220px;
        width:95%;
    }
    .top{
        height: 160px;
    }
    .top img{
        height: 150px;
    }
    .bottom{
        height: 60px;
    }
    .left img{
        width:35px;
        height: 35px;
    }
    .right h3{
        font-size: 12px;
        margin:5px 0;
    }
    .right p{
        font-size:10px;
    }
}
@media screen and (min-width:400px) and (max-width:600px){
    .video{
        height: 220px;
        width:45%;
    }
    .top{
        height: 160px;
    }
    .top img{
        height: 150px;
    }
    .bottom{
        height: 60px;
    }
    .left img{
        width:35px;
        height: 35px;
    }
    .right h3{
        font-size: 12px;
        margin:5px 0;
    }
    .right p{
        font-size:10px;
    }
}
    
@media screen and (min-width:600px) and (max-width:900px){
    .video{
        height: 220px;
        width:29%;
    }
    .top{
        height: 160px;
    }
    .top img{
        height: 150px;
    }
    .bottom{
        height: 60px;
    }
    .left img{
        width:35px;
        height: 35px;
    }
    .right h3{
        font-size: 12px;
        margin:5px 0;
    }
    .right p{
        font-size:10px;
    }
}
