.profile{
    width: 100%;
    height: auto;
    padding: 10px 15px;
}
.top{
    display: flex;
    align-items: center;
}
.left img{
  width: 40px;
}
.name{
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
}
.text{
    width: 100%;
    line-height: 1.4;
    text-align: left;
    color:cornsilk;
}
.text span{
    color:burlywood;
    margin-right: 15px;
}
@media screen and (min-width: 300px) and (max-width:500px){
   .profile{ 
     padding:2px;
   }
   .left img{
       width: 15px;
   }
   .name{
       font-size: 10px;
   }
   .text p{
       font-size: 10px;
   }
   .text span{
       margin-right: 5px;
   };
}




