.items{
    grid-area: n;
    background-color:#19456b;
    line-height: 1.4;
    padding:20px 10px;
    color:black;
    height: 100%;
}
.item a{
    text-decoration: none;
    padding:5px 0 10px;
    font-size: 22px;
    display: block;
    color:black;
    font-weight: 400;
}
.item .activ{
    color:gold;
}
