.items{
    grid-area: n;
    background-color:black;
    color:#fff;
    line-height: 1.4;
    padding:20px 10px;
    color:black;
    height: 100%;
    position: fixed;
    top:100px;
    width: 100%;
}
.item{
   margin-bottom: 20px;
}
.item a{
    text-decoration: none;
    padding:5px 10px;
    font-size: 16px;
    display: block;
    color:black;
    font-weight: 400;
    display: flex;
    align-items: center;   
}
.item a img{
  width: 30px;
  height: auto;
  padding-right: 15px;
  background-color: none;
}
.item .activ{
    color:gold;
    background-color: rgba(100, 100,100, .4);
}
