.watchVideo{
    display: grid;
    grid-template-areas:  'w r';
    grid-template-columns: 7fr 2fr;
    height: auto;
    width:100%;
    height: 100%;
    margin-top:0;
}
.watch {
    grid-area: w;
    padding:10px;
}
.rec{
    padding:10px;
    grid-area: r;

}
