.app,.ap{
  width:100%;
  box-sizing: border-box;
  margin:0 auto;
  font-size: 14px;
  display: grid;
  grid-template-areas: 'h h' 'n s';
  grid-template-rows: 45px 1fr;
  background-color:rgba(6,6,6, .2);
}
.app{
  grid-template-columns: 200px 1fr;
}
.ap{
  grid-template-columns: 90px 1fr; 
}
 .app-wrapper {
   grid-area: s;
   box-sizing: border-box;
   position:relative;
   padding:15px;
 }