.App{
 width:1200px;
  margin:0 auto;
  font-size: 14px;
  display: grid;
  grid-template-areas: 'h h' 'n s';
  grid-template-columns: 2fr 7fr;
  grid-template-rows: 1fr 11fr;
}
 .app-wrapper {
   grid-area: s;
   width: 1000px;
   height: auto;
   background-color:#374045;
   position:relative;
   padding:15px;
 }
